# Regression  model using keras

## 1.Download and Clean Dataset

In [28]:
import pandas as pd
import numpy as np

### Read the data
**pd.read_csv()** :

In [29]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [30]:
#to see how many data points are there
concrete_data.shape

(1030, 9)

In [31]:
#check for missing data
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

### Clean the data

In [32]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split the data

In [33]:
concrete_data_columns = concrete_data.columns

predictors= concrete_data[concrete_data_columns[concrete_data_columns!='Strength']]
target = concrete_data['Strength']

In [34]:
predictors

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [35]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### Normalize the data

In [36]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [37]:
n_cols = predictors_norm.shape[1] #number of predictors

## Building the neural network

In [38]:
import keras

Since we are using a linear stack of layers , so we would use sequential model

In [39]:
from keras.models import Sequential
from keras.layers import Dense

In [40]:
def Regression_model():
    
    model = Sequential()
    #add 2 hidden layers and 1 output unit
    model.add(Dense(50,activation='relu',input_shape=(n_cols,)))
    model.add(Dense(50,activation='relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam',loss='mean_squared_error')
    return model

## Train the neural network

In [41]:
#build the model
model = Regression_model()

verbose=2 will just mention the number of epoch like this

In [45]:
#fit the model
model.fit(predictors_norm,target,validation_split=0.3,epochs=100,verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 35.3555 - val_loss: 130.8673
Epoch 2/100
 - 0s - loss: 34.8803 - val_loss: 131.8087
Epoch 3/100
 - 0s - loss: 34.4666 - val_loss: 125.3813
Epoch 4/100
 - 0s - loss: 34.3007 - val_loss: 130.3653
Epoch 5/100
 - 0s - loss: 33.5311 - val_loss: 132.8142
Epoch 6/100
 - 0s - loss: 33.1845 - val_loss: 133.1090
Epoch 7/100
 - 0s - loss: 32.9262 - val_loss: 129.8657
Epoch 8/100
 - 0s - loss: 32.5155 - val_loss: 139.6112
Epoch 9/100
 - 0s - loss: 32.2193 - val_loss: 130.0650
Epoch 10/100
 - 0s - loss: 31.9862 - val_loss: 134.3278
Epoch 11/100
 - 0s - loss: 31.4658 - val_loss: 131.0352
Epoch 12/100
 - 0s - loss: 30.7003 - val_loss: 146.7081
Epoch 13/100
 - 0s - loss: 31.8261 - val_loss: 138.2078
Epoch 14/100
 - 0s - loss: 31.1769 - val_loss: 129.6052
Epoch 15/100
 - 0s - loss: 30.8542 - val_loss: 134.9370
Epoch 16/100
 - 0s - loss: 30.2931 - val_loss: 135.3190
Epoch 17/100
 - 0s - loss: 29.9485 - val_loss: 138.6488
Epoch 18/100
 - 0s - loss: 30.3036 - val_loss: 131.0357
Epoch 19/100
 - 0s - loss: 29.9163 - val_loss: 126.4331
Epoch 20/100
 - 0s - loss: 29.5805 - val_loss: 130.0490
Epoch 21/100
 - 0s - loss: 29.1659 - val_loss: 138.6462
Epoch 22/100
 - 0s - loss: 28.6742 - val_loss: 137.9917
Epoch 23/100
 - 0s - loss: 28.6117 - val_loss: 128.1424
Epoch 24/100
 - 0s - loss: 28.5232 - val_loss: 135.6214
Epoch 25/100
 - 0s - loss: 28.6671 - val_loss: 140.1070
Epoch 26/100
 - 0s - loss: 28.2908 - val_loss: 136.1520
Epoch 27/100
 - 0s - loss: 27.6355 - val_loss: 134.2233
Epoch 28/100
 - 0s - loss: 27.6279 - val_loss: 135.1914
Epoch 29/100
 - 0s - loss: 27.4228 - val_loss: 138.0805
Epoch 30/100
 - 0s - loss: 27.2618 - val_loss: 140.0282
Epoch 31/100
 - 0s - loss: 26.7978 - val_loss: 126.9069
Epoch 32/100
 - 0s - loss: 26.8471 - val_loss: 131.6778
Epoch 33/100
 - 0s - loss: 25.9798 - val_loss: 141.9349
Epoch 34/100
 - 0s - loss: 26.2885 - val_loss: 134.8820
Epoch 35/100
 - 0s - loss: 26.3336 - val_loss: 124.8333
Epoch 36/100
 - 0s - loss: 26.3818 - val_loss: 134.8992
Epoch 37/100
 - 0s - loss: 25.8224 - val_loss: 127.0492
Epoch 38/100
 - 0s - loss: 26.1688 - val_loss: 130.3224
Epoch 39/100
 - 0s - loss: 25.2975 - val_loss: 141.7888
Epoch 40/100
 - 0s - loss: 26.0309 - val_loss: 145.3246
Epoch 41/100
 - 0s - loss: 25.1809 - val_loss: 133.4496
Epoch 42/100
 - 0s - loss: 24.8913 - val_loss: 132.7641
Epoch 43/100
 - 0s - loss: 24.9664 - val_loss: 132.6256
Epoch 44/100
 - 0s - loss: 25.1326 - val_loss: 135.1644
Epoch 45/100
 - 0s - loss: 24.3966 - val_loss: 128.2047
Epoch 46/100
 - 0s - loss: 24.1545 - val_loss: 137.7030
Epoch 47/100
 - 0s - loss: 23.9331 - val_loss: 138.1040
Epoch 48/100
 - 0s - loss: 24.2012 - val_loss: 138.1157
Epoch 49/100
 - 0s - loss: 24.1888 - val_loss: 137.0676
Epoch 50/100
 - 0s - loss: 23.9474 - val_loss: 141.4539
Epoch 51/100
 - 0s - loss: 23.3834 - val_loss: 125.6175
Epoch 52/100
 - 0s - loss: 23.1524 - val_loss: 136.8681
Epoch 53/100
 - 0s - loss: 23.2553 - val_loss: 140.4751
Epoch 54/100
 - 0s - loss: 22.6557 - val_loss: 130.4515
Epoch 55/100
 - 0s - loss: 22.7713 - val_loss: 136.2563
Epoch 56/100
 - 0s - loss: 22.7935 - val_loss: 132.0937
Epoch 57/100
 - 0s - loss: 22.3933 - val_loss: 131.4261
Epoch 58/100
 - 0s - loss: 22.7154 - val_loss: 121.8523
Epoch 59/100
 - 0s - loss: 22.1488 - val_loss: 135.7564
Epoch 60/100
 - 0s - loss: 22.2907 - val_loss: 138.7727
Epoch 61/100
 - 0s - loss: 22.1719 - val_loss: 127.2559
Epoch 62/100
 - 0s - loss: 21.6362 - val_loss: 134.5135
Epoch 63/100
 - 0s - loss: 21.7885 - val_loss: 137.4290
Epoch 64/100
 - 0s - loss: 21.8470 - val_loss: 126.2531
Epoch 65/100
 - 0s - loss: 21.7489 - val_loss: 132.4073
Epoch 66/100
 - 0s - loss: 21.0491 - val_loss: 112.6664
Epoch 67/100
 - 0s - loss: 21.6103 - val_loss: 123.4005
Epoch 68/100
 - 0s - loss: 21.5696 - val_loss: 118.8899
Epoch 69/100
 - 0s - loss: 21.1497 - val_loss: 115.9160
Epoch 70/100
 - 0s - loss: 21.3158 - val_loss: 133.0336
Epoch 71/100
 - 0s - loss: 20.6641 - val_loss: 118.7822
Epoch 72/100
 - 0s - loss: 20.7939 - val_loss: 120.8977
Epoch 73/100
 - 0s - loss: 20.1463 - val_loss: 129.5987
Epoch 74/100
 - 0s - loss: 20.6046 - val_loss: 133.2611
Epoch 75/100
 - 0s - loss: 21.2393 - val_loss: 130.7830
Epoch 76/100
 - 0s - loss: 20.6059 - val_loss: 135.4096
Epoch 77/100
 - 0s - loss: 20.0733 - val_loss: 121.2049
Epoch 78/100
 - 0s - loss: 20.0734 - val_loss: 133.6949
Epoch 79/100
 - 0s - loss: 20.0524 - val_loss: 128.6055
Epoch 80/100
 - 0s - loss: 19.6496 - val_loss: 128.2725
Epoch 81/100
 - 0s - loss: 19.7682 - val_loss: 127.2211
Epoch 82/100
 - 0s - loss: 19.5126 - val_loss: 119.3369
Epoch 83/100
 - 0s - loss: 19.7910 - val_loss: 130.1399
Epoch 84/100
 - 0s - loss: 19.5764 - val_loss: 129.2345
Epoch 85/100
 - 0s - loss: 19.3660 - val_loss: 136.4643
Epoch 86/100
 - 0s - loss: 19.8124 - val_loss: 121.5060
Epoch 87/100
 - 0s - loss: 19.4860 - val_loss: 115.2950
Epoch 88/100
 - 0s - loss: 19.0396 - val_loss: 124.7474
Epoch 89/100
 - 0s - loss: 19.2749 - val_loss: 129.1073
Epoch 90/100
 - 0s - loss: 19.3496 - val_loss: 113.7471
Epoch 91/100
 - 0s - loss: 18.9583 - val_loss: 134.0803
Epoch 92/100
 - 0s - loss: 18.8643 - val_loss: 124.1575
Epoch 93/100
 - 0s - loss: 18.5489 - val_loss: 124.4852
Epoch 94/100
 - 0s - loss: 18.6998 - val_loss: 131.6224
Epoch 95/100
 - 0s - loss: 18.3176 - val_loss: 120.3655
Epoch 96/100
 - 0s - loss: 18.4186 - val_loss: 126.7127
Epoch 97/100
 - 0s - loss: 18.6438 - val_loss: 124.6393
Epoch 98/100
 - 0s - loss: 18.6428 - val_loss: 118.5503
Epoch 99/100
 - 0s - loss: 18.2232 - val_loss: 120.8121
Epoch 100/100
 - 0s - loss: 18.2205 - val_loss: 123.0213

In [43]:
model